.project-card {
    z-index: 6;
    background: #f5f5dc;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    width: 500px;
    /* Increase the width */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: var(--font-family);
}

.project-card-header {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.project-card-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 16px;
}

.project-card-title {
    font-size: 1.5rem;
    color: #333;
    margin: 0;
}

.project-card-role {
    font-size: 1rem;
    color: #666;
    margin: 0;
}

.project-card-description {
    font-size: 1rem;
    color: #333;
    margin: 16px 0;
}

.project-card-info {
    font-size: 0.9rem;
    color: #333;
    margin: 8px 0;
}

.project-card-responsibilities {
    font-size: 0.9rem;
    color: #333;
    margin: 16px 0;
}

.project-card-responsibilities ul {
    padding-left: 20px;
}

.project-card-footer {
    display: flex;
    justify-content: flex-end;
}

.project-card-link {
    background-color: #007bff;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.project-card-link:hover {
    background-color: #0056b3;
}