h1 {
    font-family: var(--font-family);
    /* Other styles for the main text */
}

.small-text {
    color: #FFF;
    font-family: Titan One;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    /* Color for the smaller text */
    /* Other styles for the smaller text */
}

.big-text {
    color: #fdca40;
    font-size: 5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}

.ow_gpt3_hero-section-content {
    display: flex;
    align-items: center;
    position: relative;
}

.ow_gpt3_hero-section-content h1 {
    display: flex;
    width: 24.125rem;
    height: 24rem;
    flex-direction: column;
    flex-shrink: 0;
    margin: 5.6rem;
    margin-left: 7rem !important;
}

.subheading {
    font-weight: 100;
    color: #FFF;
    margin-top: -2.5rem;
}

.ow_hero-section-monitor {
    margin-left: 2rem;
    position: relative;
    z-index: 2;
    /* Adjust the margin as needed */
}

.ow_hero-section-monitor img {
    margin-left: 7rem;
    max-width: 100%;
    width: 70%;
    height: 70%;
    /* Ensure the image doesn't exceed its container */
}

.ow_hero-section-monitor-images img {
    position: absolute;
    margin-top: -190px;
    margin-left: 50px;
    z-index: -1;
    width: 47%;
    height: 47%;
}



