h1 {
    position: relative;
    font-family: var(--font-family);
}



.ow_hero-section-content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 80%;
}
.ow_hero-section-content h1 {
    display: flex;
    width: 42.125rem;
    flex-direction: column;
    flex-shrink: 0;
    margin-left: 5rem;
    margin-top: 5rem;
}

.small-text {
    color: #FFF;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    padding-top: none;
    padding-bottom: 1rem;
} 

.big-text {
    color: #fdca40;
    font-size: 7rem;
    font-style: normal;
    font-weight: 300;
    line-height: 130%;
    transform: translateY(-5rem);
}
.subheading {
    font-weight: 100;
    font-size: 1.5rem;
    color: #FFF;
    margin-top: -7.5rem;
}

.default-image{
    transform: translateX(7rem) !important;
    transform: translateY(-10rem) !important;
    margin-left: 4rem;
    margin-top: 1rem;
    width: 400px;
    height: 270px;
    z-index: -1 !important;
}



.ow_hero-section-monitor img{
    position: absolute;
    z-index: 2;
    max-width: 80%;
    flex-shrink: 0;
    transform: translateY(-14rem);
    
    
    /* Adjust the margin as needed */
}

.hover-content-container {
    position: absolute;
    top: 100px; /* Adjust the top position as needed */
    left: 50%; /* To horizontally center the content */
    transform: translateX(25%) translateY(60%);
    z-index: 1; /* i dont want it to overlap over my monitor image lol */
}
/* .about-gif {
    position: absolute;
    z-index: 2;
    max-width: 100%;
    width: 105;
    height: auto;
    

} */




.resume_button_container {
    display: flex;
    width: 30rem;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 1.4rem;
}

.resume_button_container button {
    border-radius: 4.375rem;
    background: #FF7477;
    color: #000;
    font-family: Titan One;
    font-size: 2.3rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71875rem;
    width: 15.5625em !important;
    height: 7.26906rem;
    cursor: pointer;
}

.contact_button {
    border-radius: 4.375rem;
    background: #F1CFD0 !important;
    color: #000;
    font-family: Titan One;
    font-size: 2.3rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71875rem;
    width: 15.5625em !important;
    height: 7.26906rem;
    cursor: pointer;
}





