*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    scroll-behavior: smooth;
    
    
    
}



body {
    background: #180933;
    overflow-y: auto;
    
    
}

.custom-thumb {
    background-image: linear-gradient(to bottom, #888888, #f0f0f0); /* Replace with your desired gradient colors */
    border-radius: 10px; /* Adjust the value to control the smoothness */
  }
